{% extends "base.html" %}

{% block title %}{{ supplier.name }}{% endblock %}

{% block content %}
<h3>{{ supplier.name }}</h3>
<div class="container-fluid">
    {% for review in object_list %}
    <div class="row">
        Author: {{ review.author }}<br />
        Rating: {{ review.rating }}<br />
        Content: {{ review.content }}
    </div>
    <p></p>
    {% endfor %}
    <p></p>
    <a href="{% url 'reviews:create_review' slug=supplier.slug %}">Write a review for {{ supplier.name }}</a>
</div>
{% endblock %}
